<header>
  <nav>
    <a href="/" class="title">Bibliotacos</a>
    <ul>
      <li><a href="/books">Todos los libros</a></li>
      <li><a href="/books/new">Agregar libro</a></li>
      <li><a href="/authors">Autores</a></li>

    </ul>
  </nav>
</header>