<h2>Nuevo autor</h2>
<form action="/authors" method="POST">
  <label for="name">Nombre</label>
  <input type="text" name="name" id="name" >
  <a href="/authors" class="btn">Cancelar</a>
  <button type="submit" class="btn">Crear</button>
</form>